/*Какие-то отступы нужно переделать с px на em?*/

/*Сброс стилей. Начало*/
/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    /*    line-height: 1.5;*/
    line-height: 1.3;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/*Сброс стилей. Конец*/

/*Редактирование стилей. Начало*/
/*Универсальные классы. Начало*/
/*
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
*/
/*Универсальные классы. Конец*/

/*Частоиспользуемые блоки. Начало*/
.link {
    color: #3698FB;
    transition: 0.2s all linear;
}

.link:focus {
    box-shadow: 0 0 0 1px #3698FB;
}

.link:visited {
    color: #2A4A5C;
}

.link:hover {
    opacity: 0.8;
}

.link:active {
    opacity: 0.6;
}

.title {
    color: #2A4A5C;
    font-weight: normal;
    margin-bottom: 0.4em;
}

.title_level_1 {
    font-size: 1.8em;
}

.title_level_2 {
    font-size: 1.3em;
}

.paragraph {
    color: #7B8A92;
    font-size: 1.2em;
}

.paragraph_small {
    font-size: 0.8em;
}

.button {
    border: none;
    color: white;
    transition: 0.2s all linear;
    width: 246px;
    height: 42px;
    cursor: pointer;
}

.button:focus {
    box-shadow: 0 0 0 1px #3698FB;
}

button:hover {
    color: #96A5B1;
}

button:active {
    background-color: #FFFFFF;
    color: #96A5B1;
    outline: 1px solid #EEEEEE;
}

.button_register {
    /*    background-size: 20px;*/
    background-size: 1.4em;
    background-color: #255A9B;
    font-size: 0.9em;
    background-position: 16px center;
    /*    background-position: 1.1em center;*/
    background-repeat: no-repeat;
    padding-left: 44px;
    padding-right: 44px;
}

.button_register_facebook {
    background-image: url(/img/facebook.svg);
    background-color: #255A9B;
}

.button_register_linkedin {
    background-image: url(/img/linkedin.svg);
    background-color: #0076B6;
}

.button_submit {
    background-color: #3698FB;
    border-radius: 3px;
    font-weight: bold;
    font-size: 0.7em;
}

.button_submit:hover {
    color: #2A4A5C;
}

/*Частоиспользуемые блоки. Конец*/

/*Редкоиспользуемые блоки и элементы. Начало*/
.body {
    display: flex;
    background-color: #EFF6FF;
    align-items: center;
    justify-content: center;
}

.main {
    display: flex;
    background-color: #FFFFFF;
    font-family: 'barlowregular',
        Arial,
        sans-serif;
    width: 1440px;
}

.decoration {
    width: 100%;
    /*    padding-top: 44px;*/
    padding-top: 2.8em;
    padding-right: 52px;
    /*    padding-bottom: 44px;*/
    padding-bottom: 2.8em;
    padding-left: 52px;
    background-image: url(/img/bg.jpeg);
    background-size: cover;
}

.logo {
    width: 140px;
}

.content {
    min-width: 680px;
    /*    padding-top: 116px;*/
    padding-top: 7.3em;
    padding-right: 80px;
    /*    padding-bottom: 104px;*/
    padding-bottom: 7.5em;
    padding-left: 74px;
}

.option {}

.option__paragraph {
    margin-bottom: 3em;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons__button {
    /*    margin-bottom: 50px;*/
    margin-bottom: 3.1em;
    margin-right: 20px;
}

.buttons__button:last-child {
    margin-right: 0;
}

.separator::before,
.separator::after {
    display: inline-block;
    width: 122px;
    background-image: linear-gradient(#EEEEEE, #EEEEEE);
    background-size: 110px 1px;
    content: " ";
    background-repeat: no-repeat;
    background-position: center;
}

.separator {
    /*    margin-bottom: 42px;*/
    margin-bottom: 3.3em;
    color: #AFAFAF;
    font-size: 0.8em;
    text-align: center;
}

.form {}

.fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

.form__fieldset {
    display: flex;
    justify-content: space-between;
}

.legend {
    font-size: 0;
}

.fieldset__paragraph {
    display: flex;
    color: #96A5B1;
}

.field {
    width: 246px;
    height: 58px;
    border: 1px solid #EEEEEE;
    border-left: 1px solid #3698FB;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 14px;
    font-size: 0.8em;
    color: #2A4A5C;
    transition: 0.2s all linear;
}

.field:focus {
    box-shadow: 0 0 0 1px #3698FB;
}

.field:hover {
    border-color: #AFAFAF;
    border-left-color: #3698FB;
}

.field:hover + .label {
    color: #7B8A92;
}

.field_border-style_1 {
    border-top-right-radius: 2px;
}

.field_border-style_2 {
    border-top-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.label {
    transition: 0.2s all linear;
}

.label_field {
    position: absolute;
    padding-top: 4px;
    padding-left: 10px;
    font-size: 0.7em;
}

.paragraph_radio {
    display: flex;
    flex-wrap: wrap;
    /*    margin-bottom: 140px;*/
    margin-bottom: 7.3em;
    line-height: 32px;
}

.variant {
    display: flex;
    flex-wrap: nowrap;
}

.label_radio {
    font-size: 0.8em;
    color: #2A4A5C;
}

.icon {
    color: #AFAFAF;
    font-size: 0.5em;
    /*    margin-right: 40px;*/
    margin-right: 4.2em;
    /*    margin-left: 8px;*/
    margin-left: 0.8em;
    margin-top: 2px;
    cursor: pointer;
}

.icon_last {
    margin-right: 0;
}

.radio {
    appearance: none;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    border: 2px solid #EEEEEE;
    transition: 0.2s all linear;
    margin-left: 0;
    /*    margin-right: 12px;*/
    margin-right: 0.6em;
    position: relative;
    top: 4px;
    cursor: pointer;
}

.radio:checked {
    border: 4px solid #3698FB;
}

.radio:focus {
    box-shadow: 0 0 0 1px #3698FB;
}

.radio:hover {
    border-color: #AFAFAF;
}

.paragraph_hint {
    width: 256px;
    font-size: 0.8em;
    padding-top: 10px;
    padding-right: 12px;
    padding-bottom: 14px;
    padding-left: 12px;
    box-shadow: 0px 5px 20px 0px #EEEEEE;
    border-radius: 3px;
    color: #AFAFAF;
    position: absolute;
    margin-left: 4px;
    /*    margin-top: -122px;*/
    margin-top: -10.2em;
}

.paragraph_checkbox {
    color: #AFAFAF;
    /*    margin-bottom: 60px;*/
    margin-bottom: 5em;
}

/* Check */

.check {
    padding-left: 1.5em;
}

.check__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.check__box {
    position: absolute;
    margin-top: 0.2em;
    margin-left: -1.3em;
    width: 0.9em;
    height: 0.9em;
    overflow: hidden;
    background-color: white;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    box-shadow: 0 0 0 0.1em #EEEEEE;
    transition: 0.2s all linear;
    cursor: pointer;
}

.check__box:hover {
    box-shadow: 0 0 0 0.1em #AFAFAF;
    opacity: 0.8;
}

/* Checked */

.check__input:checked + .check__box {
    background-color: #3698FB;
    box-shadow: 0 0 0 0.1em #3698FB;
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpolyline fill='none' stroke='%23fff' stroke-width='3' points='1.079 4.999 5 9 10.837 2'/%3E%3C/svg%3E");
    background-size: 70%;
}

/* Focused */

.check__input:focus + .check__box {
    box-shadow:
        0 0 0 0.1em #3698FB,
        0 0 0 0.2em #3698FB;
}

/* Disabled */

.check__input:disabled + .check__box {
    box-shadow: 0 0 0 0.1em #9B9B9B;
}

.check__input:checked:disabled + .check__box {
    background-color: #9B9B9B;
}

/*Редкоиспользуемые блоки и элементы. Конец*/

/* Desktop */

@media screen and (max-width: 1024px) {
    .decoration {
        padding-right: 26px;
        padding-left: 26px;
    }

    .content {
        min-width: 589px;
        padding-right: 40px;
        padding-left: 37px;
    }
}

/* Tablet */

@media screen and (max-width: 768px) {
    .button {
        width: 183px;
        height: 40px;
    }

    .button_register {
        background-position: 8px center;
        padding-left: 35px;
        padding-right: 8px;
    }

    .body {
        font-size: 15px;
    }

    .main {
        flex-flow: column;
        align-items: center;
    }

    .content {
        min-width: inherit;
        width: 426px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .field {
        width: 183px;
        height: 54px;
    }
}

/* Mobile */

@media screen and (max-width: 425px) {
    .body {
        font-size: 14px;
    }

    .decoration {
        padding-top: 2.8em;
        padding-bottom: 2.8em;
        padding-left: 52px;
        background-image: url(/img/bg.jpeg);
        background-size: cover;
    }

    .logo {
        width: 140px;
    }

    .content {
        padding-top: 3.7em;
        padding-bottom: 3.7em;
    }

    .content {
        min-width: 320px;
        width: auto;
    }

    .option__paragraph {
        margin-bottom: 1.5em;
    }

    .buttons {
        flex-wrap: wrap;
    }

    .buttons__button {
        margin-bottom: 1.5em;
    }

    .separator {
        margin-bottom: 1.5em;
    }

    .form__fieldset {
        flex-flow: column;
    }

    .field {
        width: 100%;
    }

    .paragraph_radio {
        flex-wrap: wrap;
        margin-bottom: 5.8em;
    }

    .paragraph_hint {
        margin-top: -8.7em;
    }

    .paragraph_checkbox {
        margin-bottom: 3.5em;
    }
}

/*Редактирование стилей. Конец*/
